#Traefik
PUBLIC_URL=http://example.pl
SECOND_PUBLIC_URL=http://second.example.pl
TLS=true #true or false


#Strapi
STRAPI_URL=http://localhost:1337
PUBLIC_STRAPI_URL=http://strapi.pl

#Intranet of head office
INTRANET_HEAD_OFFICE=http://example.pl
#SSL certificate
NODE_TLS_REJECT_UNATHORIZED=0 # 0 or 1


#Meilisearch
MEILISEARCH_URL=http://localhost:7700
MEILISEARCH_API_KEY=secret_key_from_meilisearch
