@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: #fff;
        --secondary: #eee;
        --color-1: #eeeeee;
        --color-2: #e3e3e9;
        --color-3: #1e293b;
        --text-primary: #3f3844;
        --text-secondary: #797d7f;
        --accent: #3097fe;
        --backdrop: #0f172acc;
    }
    .dark {
        --primary: #1f2028;
        --secondary: #2e3039;
        --color-1: #2e3039;
        --color-2: rgba(255, 255, 255, 0.16);
        --color-3: #1e293b;
        --text-primary: #fff;
        --text-secondary: #a9adc1;
        --accent: #3097fe;
        --backdrop: rgba(31, 32, 40, 0.8);
    }
}

html {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    background: var(--primary);
    color: var(--text-primary);
}

.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}

.material-symbols-outlined.md-18 {
    font-size: 18px;
}
.material-symbols-outlined.md-24 {
    font-size: 24px;
}
.material-symbols-outlined.md-30 {
    font-size: 30px;
}
.material-symbols-outlined.md-36 {
    font-size: 36px;
}
.material-symbols-outlined.md-48 {
    font-size: 48px;
}
